<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head của Admin -->
  <% include ../shared/head %>
</head>

<body id="page-top">

  <!-- header của trang Admin -->
  <% include ../shared/header %>
  <div id="wrapper">

    <!-- navigation của Admin -->
    <% include ../shared/navigation %>

    <!-- main của trang Admin -->
    <div id="content-wrapper">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-primary active">Danh sách tour được đặt</li>
      </ol>

      <!-- Booked Tour của trang Admin -->
      <div class="p-3">
        <table class="table table-striped border border-primary">
          <tdead>
            <tr class="table-primary">
              <!-- danh mục hiển tdị -->
              <% for (const danhmuc of arrdanhmuc){ %>
              <th>
                <%= danhmuc %>
              </th>
              <% }; %>
            </tr>
          </tdead>
          <% booked.forEach(element => { %>
          <tr>
            <td><%=element.displayname %></td>
            <td><%=element.nameTour %></td>
            <td><%=element.Ntickets %></td>
            <td><%=element.NCtickets %></td>
            <td><%=element.numberPhone %></td>
            <td><%=element.dateBook %></td>
            <form action="/admin/booked/<%=element._id%>" method="POST">
              <td>

                <select id="selectCate" class="custom-select" name="reqSelect">
                  <% for (const item of arrTT){ %>
                  <%if(element.status===item){%>
                  <option value="<%=item%>" selected><%=item%></option>
                  <%}else{%>
                  <option value="<%=item%>"><%=item%></option>
                  <% }}; %>
                </select>

              </td>
              <td>
                <button type="submit" class="btn btn-danger">Sửa</button></a>
              </td>
            </form>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>

    <!-- footer của admin -->
    <% include ../shared/footer %>
  </div>

  <!-- Javascript -->
  <% include ../shared/Javascripts %>
</body>

</html>